<launch>
  <node pkg="gmapping" type="slam_gmapping" name="gmapping">
      <param name="map_udpate_interval" value="1.0"/>
      <param name="minimumScore" value="100" />
      <param name="angularUpdate" value="0.01" />
      <param name="linearUpdate" value="0.01" />
      <param name="lskip" value = "2"/>
    </node>


</launch>
